@media (min-width:360px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img.background {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }

    img.logo {
      position: absolute;
      top: 30px;
      left: 20px;
    }

    .header-content {
      position: absolute;
      left: -150px;
      width: 90%;
      height: 100%;
      background-color: rgba(20, 44, 145, 0.8);
      color: white;
      -ms-transform: skew(15deg, 0deg);
      -webkit-transform: skew(15deg, 0deg);
      transform: skew(15deg, 0deg);
      padding: 0 50px;
      h1 {
        position: absolute;
        display: inline-block;
        text-align: left;
        bottom: 100px;
        right: 30px;
        font-size: 2.5em;
        -ms-transform: skew(-15deg, 0deg);
        -webkit-transform: skew(-15deg, 0deg);
        transform: skew(-15deg, 0deg);
        padding: 0 50px 0px 100px;
        span {
          color: $gold;
        }
      }
    }
  }

}
